@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body{
    background-color: #A3CEF1;
    font-family: 'Merriweather', cursive;
    padding-bottom: 70px;
}

.card{
    background-color: #6096BA;

}

.navbar{
    background-color: #ff9100;
    
}

.btn{
    background-color: #ff9100;
}

.pic1{
    height: 300px;
    border-radius: 50%;
    margin-top: 80px;
}
.pic2{
    height: 300px;
    width: 300px;
}

.jumbotron {
    background-image: url("../assets/mtn1.jpg");
    background-size: cover;
    height: 500px;
    margin-bottom: 0px !important;
}



